body{
    list-style-type: none;
}
/* video part start */
.video-area-bg{
  background-image: url(../images/video-bg.jpg);
  background-size: cover;
  background-position: center;
}

.video-area{
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px 0;
}
.video-area-bg{
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 40%;
box-shadow: 0 0 20px #888;
}

.video-play-btn{
    position: absolute;
    right: -50px;
    top: 120px;
    
    text-align: center;
    background: #07772f;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    font-size: 40px;
    color: #fff;
    line-height: 100px;

}

/* video part end */


ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.check-icon{
    
    margin-right: 50px;
    
    
}
ul .check-icon li{
    font-size: 16px;
    padding-bottom: 10px;

}
.check-icon li i{
    margin-right: 15px;
    color:#07772f ;
}

